{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block head %}
<div class='free_pl'></div>
<div class='topic'>
<div class="cross"><span class="glyphicon glyphicon-remove"></span></div>
{% include "inc_login_form.html" %}
</div>
{% endblock %}
{% block main %}
<div class='news'>

    <h1>{{object.name}}</h1>
    <div class='text'>{{object.info}}</div>
    <div class='text'>{{object.dino}}</div>
    <div class='text'>{{object.autor}}</div>
    <div class='text'>{{object.slug_name}}</div>
    <img src='{{ object.foto.url }}' width="20%">

    <div class='text'>{{object.about}}</div>

</div>

<div class='free_pl'></div>
{% endblock %}


