{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
News
{% endblock %}
{% block head %}
<div class='free_pl'></div>
<div class='topic'>
<div class="cross"><span class="glyphicon glyphicon-remove"></span>
</div>
{% include "inc_login_form.html" %}
</div>
{% endblock %}

{% block main %}

{% for q in sub %}
 <div class='news'>
<div class='text'>{{q.name}}</div>

</div>
</div>
{% for new in dino_list %}
{% if new.suborder|lower == q.name|lower %}
<div class='news'>
    <p>-----------------<a href = "{% url 'dino_detail' new.id %}">{{new.name}} </a></p>

</div>
</div>

{% endif %}
{% endfor %}
{% endfor %}
</div>

<div class='free_pl'></div>
{% endblock %}
