
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class='line'>
О ПРОЕКТЕ
</div>
<div class='contaner'>
<div class='blocks'>
<div class='text'>dsd</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/camarasaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
<div class='blocks'>
<div class='empty'></div>
<img src="{% static 'imgn/lambeosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/kentrosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
</div>
<div class='free_pl'></div>
<div class='line'>
НОВЕЙШАЯ НОВОСТЬ
</div>
{% for new in object_list %}
<div class='news'>
<div class='new_link' style="background-image: url('{{ new.img.url }}')">
<div class='text'><a href = "{% url 'news_detail' new.id %}">{{new.name}}</a></div>
<div class='text'>{{ new.name }}</div>
</div>
</div>
{% endfor %}
<div class='free_pl'></div>
{% endblock %}
