{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block head %}
<div class='free_pl'></div>
<div class='topic'>
<div class="cross"><span class="glyphicon glyphicon-remove"></span></div>
{% include "inc_login_form.html" %}
</div>
{% endblock %}
{% block main %}
<div class='news'>

    <h1>{{object.name}}</h1>    
    <div class='text'>{{object.time}}</div>
    <img src='{{ object.img.url }}' width="70%" class="big-image">
    <div class='text'>{{object.dino}}</div>
    <div class='text'>{{object.body}}</div>
    <div class='text'>{{object.content|safe}}</div>
    <div class='text'>{{object.content2|safe}}</div>
    {% for comment in comments%}
    <div class='news_link'>{{comment.content}}</div>
    {% endfor %}
    {% if user.is_authenticated%}
    <form method="post" action="{% url 'add_comment' object.pk %}" id='sing_in'class="input-group">
        {% csrf_token %}
    {{comment_form.as_table}}
        <button class="btn btn-default" type="submit">Закоментить</button>

    </form>
    {% endif %}
</div>

<div class='free_pl'></div>
{% endblock %}