{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
News
{% endblock %}
{% block head %}
<div class='free_pl'></div>
<div class='topic'>
<div class="cross"><span class="glyphicon glyphicon-remove"></span>
</div>
{% include "inc_login_form.html" %}
</div>
{% endblock %}
{% block main %}
<div class='news'>
    <form method="get" action="{% url 'sort' %}" role="form" >
        <input type="checkbox" name="reversed" value="True">
        <button class="btn btn-success" type='submit'>Отобразить по дате</button>
    </form>
{% for new in object_list %}
<div class='news'>
<div class='new_link' style="background-image: url('{{ new.img.url }}')">

<div class='text'><a href = "{% url 'news_detail' new.id %}">{{new.name}}</a></div>
<div class='text'>{{ new.name }}</div>

</div>
</div>    

{% endfor %}
<div class='free_pl'></div>
{% endblock %}
