{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<link href= "{% static 'stylesheet.min.css' %}" rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>

<script src="http://code.jquery.com/jquery-1.8.3.js"></script>

<title>
    {% block title %}
    Mydino
    {% endblock %}
</title>
{% block fone %}
<style>

   body {

    background-image: url('{% static "imgn/dino.jpg" %}'); /* Путь к фоновому изображению */
   }
  </style>
{% endblock %}
</head>
<body>
<nav>
<ul>
<li id='homelink'>
<a class='home' href='/'>&#9749</a>
</li>
<li>
<a href="{% url 'main' %}">Главная</a>

</li>
<li>/
<a href="{% url 'news' %}">Новости</a>
</li>
<li>
<a href='/'>Библиотека</a>
</li>
<li>
<button class="reg" id='regb' type='submit'>регистрация</button>
</li>

</ul>
</nav>
{% block reg %}
{% endblock %}
{% block head %}
<header>
<h1>
ДИНОМАНИЯ
</h1>
<div class='topic'>
<div class="cross">X</div>
{% include "inc_login_form.html" %}
</div>

</header>
<div class='topic'>
<div class="cross">X</div>
{% include "inc_login_form.html" %}
</div>
{% endblock %}
{% block main %}
<div class='line'>
О ПРОЕКТЕ
</div>
<div class='contaner'>
<div class='blocks'>
<div class='text'>Равным образом консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности требуют определения и уточнения новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское           обеспечение нашей деятельности требуют от нас анализа новых предложений</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/camarasaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
<div class='blocks'>
<div class='empty'></div>
<img src="{% static 'imgn/lambeosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/kentrosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
</div>
<div class='free_pl'></div>
<div class='line'>
НОВЕЙШАЯ НОВОСТЬ
</div>
<div class='news'>
<div class='new_link'>
<img src=''>
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
<div class='new_link'>
<img src=''>
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
<div class='new_link'>
<img src=''>
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
</div>
<div class='free_pl'></div>
{% endblock %}

<footer></footer>
<script src="{% static 'myscript.js' %}"></script>
</body>
</html>
