!!! 5

%html
  %head
    %meta{:charset => 'UTF-8'}
    %link{:rel => "stylesheet", :href => 'stylesheet.min.css', :type => "text/css"}

    %title Mydino
  %body
    %nav
      %ul
        %li{:id => "homelink"}
          %a{:href => '/', :class => "home"}&&#9749
        %li
          %a{:href => '/'}Новости

        %li
          %a{:href => '/'}Энциклопедия
        %li
          %a{:href => '/'}Библиотека
    %header
      %h1
        ДИНОМАНИЯ
      .topic
    .line
      О ПРОЕКТЕ
    .contaner
      .blocks
        .text Равным образом консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности требуют определения и уточнения новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское           обеспечение нашей деятельности требуют от нас анализа новых предложений
      .blocks
        %img{:src => 'imgn/camarasaurus.svg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах
        .empty
      .blocks
        .empty
        %img{:src => 'imgn/lambeosaurus.svg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах
      .blocks
        %img{:src => 'imgn/kentrosaurus.svg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах
        .empty
    .free_pl
    .line
      НОВЕЙШАЯ НОВОСТЬ
    .news
      .new_link
        %img{:src => 'imgn/sand.jpg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах

      .new_link
        %img{:src => 'imgn/sand.jpg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах

      .new_link
        %img{:src => 'imgn/sand.jpg'}
        .text Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах

    .free_pl
    %footer
