
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class='line'>
О ПРОЕКТЕ
</div>
<div class='contaner'>
<div class='blocks'>
<div class='text'>Равным образом консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности требуют определения и уточнения новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское           обеспечение нашей деятельности требуют от нас анализа новых предложений</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/camarasaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
<div class='blocks'>
<div class='empty'></div>
<img src="{% static 'imgn/lambeosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
</div>
<div class='blocks'>
<img src="{% static 'imgn/kentrosaurus.svg'%}">
<div class='text'>Портал создан для того чтобы можно было проще найти научную, современную информацию о динозаврах</div>
<div class='empty'></div>
</div>
</div>
<div class='free_pl'></div>
<div class='line'>
НОВЕЙШАЯ НОВОСТЬ
</div>
{% for new in news %}
<div class='news'>
<div class='new_link'>

<img src='{{ new.img.url }}' width="200">
<div class='cont'>
<div class='headi'>{{ new.name }}
</div>
<div class='text'>какой то там текст о том как димозавры охраняли потомство и чтото типа того...
</div>
</div>
</div>
</div>
{% endfor %}
<div class='free_pl'></div>
{% endblock %}
